<div class="alert alert-success" role="alert" ng-show="changePassword.showConfirmationMessage">
    Password successfully changed.
</div>
<form role="form" ng-submit="changePassword()">
    <div class="form-group">
        <label for="newPassword">New password</label>
        <input type="password" class="form-control" id="newPassword" ng-model="changePassword.newPassword" required />
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm password</label>
        <input type="password" class="form-control" id="confirmPassword" ng-model="changePassword.confirmPassword" required />
    </div>
    <button type="submit" class="btn btn-sm btn-success">Send</button>
</form>